<div class="search-container">
  <ion-searchbar placeholder="Buscar usuarios" (ionInput)="onSearch($event)"></ion-searchbar>
  @if (usersFound.length > 0) {
    <div class="users-dropdown">
      @for (user of usersFound; track user.userId) {
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="user.photoUrl || 'assets/profile/default_profile_image.jpeg'">
          </ion-avatar>
          <ion-label>
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="emitUser(user)">
            <ion-icon name="person-add-outline"></ion-icon>
          </ion-button>
        </ion-item>
      }
      
    </div>
  }@else {
    @if(text){
      <div class="users-dropdown">
        <ion-item>
          No se han encontrado usuarios
        </ion-item>
      </div>
    }
    
  }
</div>