<ion-content>
  <div class="my-widgets-cont">  
    @for (widget of widgets; track widget.widgetId) {
      <ion-card>
        <ion-card-header>
          <ion-card-title class="widget-header">
            {{ widget.name }} 
            <!-- @if(widget.visibility == 'public'){
              <ion-chip [outline]="true" (click)="changeVisivility('private', widget.widgetId)">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-chip>
            }@else{
              <ion-chip [outline]="true" (click)="changeVisivility('public', widget.widgetId)">
                <ion-icon name="eye-off-outline"></ion-icon>
              </ion-chip>
            } -->
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ widget.description }}</p>
          @switch (widget.type) {
            @case ('text') {
              <p>{{ widget.data.text }}</p>
            }
            @case ('image') {
              <img [src]="widget.data.imageUrl">
            }
            @case ('vote') {
              <p>{{ widget.data.question }}</p>
              <div class="vote-options">
                @for (
                  option of widget.data.options;
                  track option.text
                ) {
                  <ion-chip>
                    {{ option.text }}
                    ({{ option.votes }})
                  </ion-chip>
                }
              </div>
            }
          }
          <div class="widget-btns">
            <!-- <ion-chip [outline]="true" color="danger" (click)="deleteInvitation(widget)">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-chip>
            <ion-chip (click)="openEditModal(widget)" [outline]="true">
              <ion-icon name="create-outline"></ion-icon>
            </ion-chip> -->
          </div>
        </ion-card-content>
      </ion-card>
    }
    
    @if (!widgets) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text [animated]="true" style="width: 80px; height: 35px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text [animated]="true" style="width: 80px; height: 35px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text [animated]="true" style="width: 80px; height: 35px;"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    }
  
    @if (widgets?.length === 0) {
      <div class="empty-state">
        <p>No tienes widgets todavía</p>
      </div>
    }
  </div>
</ion-content>