<ion-content class="ion-padding">

  <div class="container">
    
    <h1 class="title">Widgy</h1>

    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="login-btn">
          Iniciar sesión
        </ion-button>

        <ion-button fill="clear" expand="block">
          Crear cuenta
        </ion-button>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>