<ion-toolbar>
  <ion-searchbar
    placeholder="Buscar texto o descripción..."
  ></ion-searchbar>

  <ion-button id="open-modal-filter" slot="end" fill="clear">
    <ion-icon name="filter" ></ion-icon>
    <ion-modal #modalFilter trigger="open-modal-filter" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Filtrar...</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalFilter.dismiss()">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" [formGroup]="filterPublicWidgetsForm">
          <div class="form">
            <ion-item>
              <ion-select formControlName="type" placeholder="Tipo de widget" fill="outline" interface="popover" [multiple]="true">
                <ion-select-option value="vote">Votación</ion-select-option>
                <ion-select-option value="image">Imagen</ion-select-option>
                <ion-select-option value="text">Texto</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Fecha desde</ion-label>
              <ion-datetime-button datetime="dateFrom"></ion-datetime-button>
            </ion-item>
            <ion-modal [keepContentsMounted]="true" trigger="dateFrom">
              <ng-template>
                <ion-datetime id="dateFrom" presentation="date" (ionChange)="setDate('dateFrom', $event)"></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-item>
              <ion-label>Fecha hasta</ion-label>
              <ion-datetime-button datetime="dateTo"></ion-datetime-button>
            </ion-item>
            <ion-modal [keepContentsMounted]="true" trigger="dateTo">
                  <ng-template>
                    <ion-datetime id="dateTo" presentation="date" (ionChange)="setDate('dateTo', $event)"></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-input label="Nombre del Propietario" labelPlacement="floating" fill="outline" type="text" formControlName="ownerName"></ion-input>
          </div>
        </ion-content>
        <ion-button class="ion-padding" >Aplicar filtros</ion-button>
      </ng-template>
    </ion-modal>
  </ion-button>
</ion-toolbar>

@for (widget of widgets; track widget.widgetId) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ widget.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ widget.description }}</p>
      @if (widget.type === 'text') {
        <p>
          {{ widget.data.text }}
        </p>
      }
      @if (widget.type === 'image') {
        <img [src]="widget.data.imageUrl">
      }
      @if (widget.type === 'vote') {
        <p>{{ widget.data.question }}</p>
        @for (option of widget.data.options; track option.text) {
          <p>
            {{ option.text }} - {{ option.votes }}
          </p>
        }
      }
    </ion-card-content>
  </ion-card>
}

<!--- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> --->
