<!-- <ion-content class="ion-padding my-widgets-cont">
  @if (loaded) {
    <ion-list>
      <ion-list-header>Albums</ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-icon style="width: 100%; height: 100%" name="musical-notes"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h3>Abbey Road</h3>
          <p>The Beatles</p>
          <p>1969</p>
        </ion-label>
      </ion-item>
    </ion-list>
  } @else {
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  }
    
</ion-content>   
<ion-button (click)="loaded = !loaded">Toggle</ion-button> -->

@for (widget of widgets; track widget.widgetId) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ widget.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ widget.description }}</p>
      @if (widget.type === 'text') {
        <p>
          {{ widget.data.text }}
        </p>
      }
      @if (widget.type === 'image') {
        <img [src]="widget.data.imageUrl">
      }
      @if (widget.type === 'vote') {
        <p>{{ widget.data.question }}</p>
        @for (option of widget.data.options; track option.text) {
          <p>
            {{ option.text }} - {{ option.votes }}
          </p>
        }
      }
    </ion-card-content>
  </ion-card>
}

@if (!widgets) {
  <div class="empty-state">
    <ion-icon name="apps-outline"></ion-icon>
    <p>No tienes widgets todavía</p>
  </div>
}

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button id="open-modal-vote">
      <ion-icon name="file-tray"></ion-icon>
      <ion-modal #modalVote trigger="open-modal-vote" [presentingElement]="presentingElement">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Creando widget de votación...</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal('vote', modalVote)">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding" [formGroup]="voteWidgetForm">
            <div class="form">
              <ion-input label="Nombre" labelPlacement="floating" fill="outline" type="text" formControlName="nombre"></ion-input>
              <ion-input label="Descripción" labelPlacement="floating" fill="outline" type="text" formControlName="descripcion"></ion-input>
              <ion-input label="Pregunta" labelPlacement="floating" fill="outline" type="text" formControlName="pregunta"></ion-input>
              <div formArrayName="opciones" class="opciones">
                @for(opcion of opciones.controls; track opcion){
                  <div class="opcion">
                    <ion-input
                      [label]="'Opción ' + ($index + 1)"
                      labelPlacement="floating"
                      fill="outline"
                      [formControlName]="$index">
                    </ion-input>
                    @if($index > 1){
                      <ion-button fill="clear" color="danger" (click)="removeOption($index)">
                        <ion-icon name="trash"></ion-icon>
                      </ion-button>
                    }
                  </div>
                }
              </div>

              <ion-button class="ion-padding" expand="block" fill="outline" (click)="addOption()">
                + Añadir opción
              </ion-button>

            </div>
          </ion-content>
          <ion-button class="ion-padding" (click)="createWidget('vote', modalVote)" [disabled]="voteWidgetForm.invalid">Crear</ion-button>
        </ng-template>
      </ion-modal>
    </ion-fab-button>
    <ion-fab-button id="open-modal-image">
      <ion-icon name="image"></ion-icon>
      <ion-modal #modalImage trigger="open-modal-image" [presentingElement]="presentingElement">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Creando widget de imagen...</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal('img', modalImage)">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div class="form" [formGroup]="imgWidgetForm">
              <ion-input label="Nombre" labelPlacement="floating" fill="outline" formControlName="nombre"></ion-input>
              <ion-input label="Descripción" labelPlacement="floating" fill="outline" formControlName="descripcion"></ion-input>
              <div class="image-box" (click)="selectImage()">
                @if(imagePreview){
                  <img [src]="imagePreview"/>
                }@else {
                  <span class="plus">+</span>
                }        
              </div>
            </div>
          </ion-content>
          <ion-button class="ion-padding" (click)="createWidget('img', modalImage)" [disabled]="imgWidgetForm.invalid || !imageFile">Crear</ion-button>
        </ng-template>
      </ion-modal>
    </ion-fab-button>
    <ion-fab-button id="open-modal-text">
      <ion-icon name="text"></ion-icon>
      <ion-modal #modalText trigger="open-modal-text" [presentingElement]="presentingElement" did>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Creando widget de texto...</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal('text', modalText)">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding" [formGroup]="textWidgetForm">
            <div class="form">
              <ion-input label="Nombre" labelPlacement="floating" fill="outline" type="text" formControlName="nombre"></ion-input>
              <ion-input label="Descripción" labelPlacement="floating" fill="outline" type="text" formControlName="descripcion"></ion-input>
              <ion-textarea label="Texto" labelPlacement="floating" fill="outline" placeholder="Enter text" formControlName="text" [counter]="true" [autoGrow]="true" maxlength="250"></ion-textarea>
            </div>
          </ion-content>
          <ion-button class="ion-padding" (click)="createWidget('text', modalText)" [disabled]="textWidgetForm.invalid">Crear</ion-button>
        </ng-template>
      </ion-modal>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-modal #modalShare trigger="open-modal-image" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Compartirendo widget...</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal('img', modalShare)">Cancelar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="form" [formGroup]="imgWidgetForm">
        <ion-input label="Nombre" labelPlacement="floating" fill="outline" formControlName="nombre"></ion-input>
        <ion-input label="Descripción" labelPlacement="floating" fill="outline" formControlName="descripcion"></ion-input>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>





